"*":
  "autocomplete-paths": {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "prettier-atom"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "vendor"
    ]
    telemetryConsent: "no"
  editor:
    showCursorOnSelection: false
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "232c0f1c-d8fe-4ac2-a239-3094cf2be20e"
  "git-plus":
    general:
      _analyticsUserId: "db468e6a-daa8-4d89-bd3c-0f0fbaaa0c17"
      analytics: false
  "language-babel":
    taggedTemplateGrammar: [
      "\"(?<=<style jsx>{)|(?<=<style jsx global>{)\":source.css.styled"
    ]
  linter: {}
  "linter-stylelint":
    disableWhenNoConfig: true
  "linter-ui-default":
    panelHeight: 69
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  "tree-view": {}
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
