"*":
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      ".DS_Store"
      "log"
      "repositories"
      "tmp"
      "vendor"
      "node_modules"
    ]
    themes: [
      "atom-dark-ui"
      "oceanic-next"
    ]
  editor:
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  linter:
    lintOnFly: false
  "linter-stylelint":
    disableWhenNoConfig: true
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
